
$page-margin-top: 65px;
$menu-width: 240px;

.fillAll {
  width: 100%;
  height: 100%;
}

html, body, #root {
  @extend .fillAll;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.contentContainer{
  @extend .fillAll;
}

.headerContainer {
  width: 100%;
  position: fixed;
  border: none;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .20);

  .header{
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex: 1;
    align-items: center;
  }
}

.spac {
  margin: 0 20px;
}


.searchConainer {
  min-width: 300px;
  width: 40%;
  display: flex;

  .search-bar {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-right: none;
    border-radius: 2px 0 0 2px;
    padding: 2px 8px;
  
    input {
      outline: none;
      border: none;
      line-height: 26px;
      font-size: 16px;
      width: 100%;
      flex: 1;
    }
  }

  .searchBtn {
    height: 100%;
    display: inline-block;
    align-items: flex-start;
    text-align: center;
    width: 65px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 0 2px 2px 0;
    padding: 0;
    background-color: #f8f8f8;
  }
}

.menu {
  z-index: 500;
  width: $menu-width;
  height: calc(100% - #{$page-margin-top});
  position: fixed;
  background-color: #f5f5f5;
  margin-top: 55px;

  .active i {
    color: red !important;
  }

  .item{
    
    ul{
      padding: 0;
      li{
        list-style-type: none;

        &:hover {
          background-color: #ebebeb;
        }

        a {
          text-decoration: none;
          color: black;
        }

        div {
          margin: 3px 5px 3px 30px;
          line-height: 40px;
          font-size: 15px;

          i {
            width: 30px;
            position: relative;
            top: 3px;
            align-items: center;
            color: #888888;
            margin-right: 25px;
            font-size: 24px;
          }
        }

        .icon i{
          width: 14px;
          position: relative;
          align-items: center;
          color: #fffefe;
          top: 0;
          margin-right: 25px;
          font-size: 14px;
          padding: 5px;
          background-color: red;
          border-radius: 20px;
        }

        .title {
          letter-spacing: .007px;
          color: #7d7d7d;
          font-weight: bold;
        }
      }
    }
  }

}

.content {
  width: calc(100% - #{$menu-width});
  height: calc(100% - #{$page-margin-top});
  z-index: 100;
  margin: 55px 10px 10px $menu-width;
  position: absolute;
  background-color: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;

  .notifyText {
    position: fixed;
    right: 50px;
    bottom: 10px;
    width: 20px;
    word-wrap: break-word;
    text-align: center;
    color: rgba(17, 17, 17, 0.6);
    font-weight: bold;
    border: 1px solid rgba(17, 17, 17, 0.6);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    i {
      animation: loadingText 1.5s infinite;
      font-size: 26px;
    }
  }

  .loadingText {
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 50px;
    color: #777272;

    animation: loadingText 1.5s infinite;
  }

  @keyframes loadingText {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  .searchCounts {
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: rgb(17, 17, 17);
    margin: 20px 30px 0 80px;

    div {
      line-height: 35px;
      border-bottom: 1px solid #ebebeb;
    }
  }

  .result {
    @extend .fillAll;
    margin: 5px 80px 50px 80px;

    ul {
      padding: 0;
      li {
        cursor: pointer;
        list-style-type: none;
        width: 210px;
        height: 220px;
        float: left;
        margin: 10px 5px;
        .media-heading {
          font-size: 15px;
          max-height: 36px;
          overflow: hidden;
          margin: 8px 0;
        }

        .media-object {
          width: 100%;
        }

        .videoInfo {
          color: rgba(17, 17, 17, 0.6);
          font-size: 13px;
          line-height: 18px; 
          font-weight: 400;         
        }
      }
    }
  }
}


.model-overlay {
  @extend .fillAll;
  position: fixed;
  z-index: 1100;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  display: block;
}

.video-detail {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1200;
  width: 854px;
  height: 480px;

  iframe {
    @extend .fillAll;
    border: none;
    background-color: black;
  }

  .embed-video {
    height: 100%;
  }

  .details {
    color: #ddd;
    background-color: black;
    margin-top: 5px;
    padding: 10px;
    height: 150px;
    overflow-y: auto;

    .title {
      margin-bottom: 5px;
    }

    .descript {
      font-size: 15px;

      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}

.hide {
  display: none;
}