html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.contentContainer {
  width: 100%;
  height: 100%; }

.headerContainer {
  width: 100%;
  position: fixed;
  border: none;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.2); }
  .headerContainer .header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex: 1;
    align-items: center; }

.spac {
  margin: 0 20px; }

.searchConainer {
  min-width: 300px;
  width: 40%;
  display: flex; }
  .searchConainer .search-bar {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-right: none;
    border-radius: 2px 0 0 2px;
    padding: 2px 8px; }
    .searchConainer .search-bar input {
      outline: none;
      border: none;
      line-height: 26px;
      font-size: 16px;
      width: 100%;
      flex: 1; }
  .searchConainer .searchBtn {
    height: 100%;
    display: inline-block;
    align-items: flex-start;
    text-align: center;
    width: 65px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 0 2px 2px 0;
    padding: 0;
    background-color: #f8f8f8; }

.menu {
  z-index: 500;
  width: 240px;
  height: calc(100% - 65px);
  position: fixed;
  background-color: #f5f5f5;
  margin-top: 55px; }
  .menu .active i {
    color: red !important; }
  .menu .item ul {
    padding: 0; }
    .menu .item ul li {
      list-style-type: none; }
      .menu .item ul li:hover {
        background-color: #ebebeb; }
      .menu .item ul li a {
        text-decoration: none;
        color: black; }
      .menu .item ul li div {
        margin: 3px 5px 3px 30px;
        line-height: 40px;
        font-size: 15px; }
        .menu .item ul li div i {
          width: 30px;
          position: relative;
          top: 3px;
          align-items: center;
          color: #888888;
          margin-right: 25px;
          font-size: 24px; }
      .menu .item ul li .icon i {
        width: 14px;
        position: relative;
        align-items: center;
        color: #fffefe;
        top: 0;
        margin-right: 25px;
        font-size: 14px;
        padding: 5px;
        background-color: red;
        border-radius: 20px; }
      .menu .item ul li .title {
        letter-spacing: .007px;
        color: #7d7d7d;
        font-weight: bold; }

.content {
  width: calc(100% - 240px);
  height: calc(100% - 65px);
  z-index: 100;
  margin: 55px 10px 10px 240px;
  position: absolute;
  background-color: #fafafa;
  overflow-y: auto; }
  .content .result {
    margin: 50px 80px; }
    .content .result ul {
      padding: 0; }
      .content .result ul li {
        list-style-type: none;
        width: 210px;
        height: 300px;
        float: left;
        margin: 10px 5px; }
        .content .result ul li .media-heading {
          font-size: 15px;
          max-height: 1.9rem;
          overflow: hidden; }
        .content .result ul li .media-object {
          width: 100%; }
